.navigation {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 12px;
    margin: 4px 0px 0px 2px;
}

.text-gray {
    color: #808080a3;
}

.heading-2 {
    color: rgb(222 6 115);
}

.nav-bar {
    background-color: rgb(36 38 39);
    padding: 12px 10px;
}

.heading-3 {
    background-image: linear-gradient(to left, rgb(235, 255, 0), rgb(151, 0, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.no-of-comp {
    width: 100%;
    background-color: rgb(36 38 39);
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
